<h2>You will need a .edu email address to create projects</h2>
<hr class="spacer short" />
<hr class="spacer short" />
<form method="post">
	<input type="text" maxlength="255" />
	<input type="submit" value="Submit" />
</form>
<hr class="spacer" />
<hr class="spacer" />
<hr class="spacer" />
<hr class="spacer" />