<hr />
<hr class="spacer short" />
<h2>To have your company considered for inclusion on our site, please email us at:</h2>
<h3><a class="mail" href="mailto:entrepreneurs@alumnifunder.com">entrepreneurs@alumnifunder.com</a></h3>
<hr class="spacer" />
<hr class="spacer" />