
<div class="title stretch">
	<h1>Terms &amp;<br />Conditions</h1>
</div>

<div class="content swing noborder">
	<div class="bd">
		<div class="swingleft">
			<div class="reg">
				<hr class="spacer short" />
				<h2>Summary</h2>
				<hr />
				<p>These Terms of Use ("Agreement") should be read carefully before using the services offered by AlumniFunder  Inc. and those of its subsidiaries and affiliates, or accessing the websites of AlumniFunder or those of its subsidiaries and affiliates. This Agreement sets forth the legally binding terms and conditions for your use of the website at www.AlumniFunder.com (the "Site") and the services owned and operated by AlumniFunder (collectively with the Site, the "Service"). By using the Site or Service in any manner, including but not limited to visiting or browsing the Site, you agree to be bound by this Agreement, the Privacy Policy, and all other operating rules, policies and procedures that may be published by AlumniFunder from time to time on the Site, each of which is incorporated by reference and each of which may be updated by AlumniFunder from time to time without notice to you.</p>
				<p>Your use of the Site is governed by the version of this Agreement in effect on the date of use. You agree to access the information on the Site solely for the purpose of evaluation of potential investment opportunities on the Site. AlumniFunder may modify this Agreement at any time and without prior notice. Your continued use of and access to the AlumniFunder Site constitutes your acknowledgement of, and agreement to, the then current Terms of Use and to having reviewed the most current version of the Terms of Use. Please also note that the terms and conditions of this Agreement are in addition to any other agreements between you and AlumniFunder, including any customer or account agreements, and any other agreements that govern your use of products, services, content, tools, and information available on the Site. This Agreement does not alter in any way the terms or conditions of any other agreement you may have with AlumniFunder, or its subsidiaries or affiliates, for the Service or otherwise. If you do not agree to all the terms of this Agreement and/or AlumniFunder’s Privacy Policy, you are not eligible to participate in AlumniFunder's Service or otherwise use this Site. This Agreement applies to all users of the Site or Service, including entrepreneurs ("Issuers") and Accredited Investors, as defined by SEC Regulation D Rule 501 ("Investors"), who in any way use the Site or Service provided by AlumniFunder (in each case, a "User").</p>
				<p>AlumniFunder reserves the right, in its sole discretion, without any obligation and without any notice requirement, to change, improve or correct the information, materials and descriptions on the Site and to suspend and/or deny access to the Site for any reason. The information and materials on the Site may contain typographical errors or inaccuracies. Any dated information is published as of its date only, and AlumniFunder does not undertake any obligation or responsibility to update or amend any such information. AlumniFunder may discontinue or change any product or service described in or offered on the AlumniFunder Site at any time. AlumniFunder further reserves the right, in its sole discretion, to block or otherwise discontinue your access and use of the Site at any time and for any reason. You agree that AlumniFunder and its subsidiaries and affiliates will not be liable to you or to any third party for any such modification, suspension or discontinuance.</p>
				<h2>Investor Qualifications</h2>
				<hr />
				<p>The Service is available only to Accredited Investors who are at least 18 years old. You represent and warrant that if you are an individual, you are of legal age to form a binding contract, and that all registration information you submit is accurate and truthful. AlumniFunder may, in its sole discretion, refuse to offer the Service to any person or entity and change its eligibility criteria at any time. This provision is void where prohibited by law and the right to access the Service is revoked in such jurisdictions. If you are using the Site on behalf of any entity, you represent and warrant that you are authorized to accept this Agreement on such entity's behalf, and that such entity agrees to indemnify AlumniFunder for violations of this Agreement.</p>
				<h2>Securities Products</h2>
				<hr />
				<p>Company listings on this Site are only suitable for Accredited Investors who are familiar with and willing to accept the high risk associated with private investments. Securities sold through private placements are not publicly traded and, therefore, are less liquid. Additionally, Investors may receive restricted stock that may be subject to holding period requirements. Companies seeking private placement investments tend to be in earlier stages of development and have not yet been fully tested in the public marketplace. Investing in private placements requires high risk tolerance, low liquidity concerns, and long-term commitments. Investors must be able to afford to lose their entire investment. For those reasons, these offerings may be made available only to certain institutional investors and high net worth individuals and entities. As with all alternative investments, investors must meet certain eligibility tests to qualify as purchasers. Currently, entities must have assets of at least $5 million (or all individual owners meet accredited investor tests). Individuals must have a net worth of more than $1 million excluding primary residence or gross income for each of the last two years of at least $200,000 ($300,000 with spouse) with the expectation of the same income in the current year.</p>
				<p>The value of investments and the income from them can fall as well as rise. Past performance is not a guarantee of future performance. The contents of this Site do not constitute financial, legal, or tax advice. Investors are solely responsible for conducting any legal, accounting or due diligence review. You should obtain investment and tax advice from your advisers before deciding to invest. Investment products are not FDIC insured, may lose value, and there is no bank guarantee.</p>
				<p>None of the information contained in the publicly available portions of the Site constitutes a recommendation, solicitation or offer buy or sell any securities, options or other financial instruments or other assets or provide any investment advice or service. The information contained in the Site has been prepared by without reference to any particular User's investment requirements or financial situation. The information and services provided on the Site are not provided to, and may not be used by, any person or entity in any jurisdiction where the provision or use thereof would be contrary to applicable laws, rules or regulations of any governmental authority or where AlumniFunder is not authorized to provide such information or services. Some products and services described in the Site may not be available in all jurisdictions or to all clients.</p>
				<h2>Modification of Agreement</h2>
				<hr />
				<p>AlumniFunder reserves the right, at its sole discretion, to modify or replace any of the terms of this Agreement, or change, suspend, or discontinue the Service (including without limitation, the availability of any feature, database, or content) at any time. Such modification shall become part of this Agreement and are automatically effective once posted on the Site or by sending you an email. This Agreement may not be orally amended. AlumniFunder may also impose limits on certain features and services or restrict your access to parts or all of the Service without notice or liability. It is your responsibility to check the terms of this Agreement periodically for changes. Your continued use of the Service following the posting of any changes to the Terms of Use constitutes acceptance of those changes.</p>
				<h2>Proprietary Rights</h2>
				<hr />
				<p>The AlumniFunder logo is a trademarks and service mark of AlumniFunder. AlumniFunder or its licensors own and retain all proprietary rights in the Site, the Service and all material and information posted thereon ("Content"). The Site contains the copyrighted material, trademarks and other proprietary information of AlumniFunder and its licensors. You may not alter, modify, publish, distribute, publicly display or sell any Content or other such proprietary information, or otherwise copy or transmit any Content or other such proprietary information without the express written permission of AlumniFunder.</p>
				<p>In addition, to the extent you receive information from AlumniFunder, Issuers or other Investors with respect to any Investment activity on the Site, you may not further disclose or otherwise provide such information to another party in any way that allows a personal identification of such Issuer or Investor. You agree that AlumniFunder may, at its sole discretion and to the extent permitted by law, access, read, preserve and disclose your account information, usage history and submitted Content in order to: (a) comply with any applicable law, regulation, legal process, or governmental request; (b) respond to claims that any Content violates the rights of third parties, including intellectual property rights; (c) enforce this Agreement and investigate potential violations thereof; (d) detect, prevent, or otherwise address fraud, security, or technical issues; (e) respond to your requests for customer service; or (f) protect the rights, property, or personal safety of AlumniFunder, its users, or the public.</p>
				<h2>Authorized User</h2>
				<hr />
				<p>Our Services and certain pages of the Site are available only to Investors who have been authorized by us to access those Services and web pages on the Site. Such authorization may require completion of an accredited investor questionnaire and satisfactory background information screening and/or identification verification. Only users of AlumniFunder with a valid User ID and password are authorized to access such services and web pages.</p>
				<p>As part of AlumniFunder’s authorization process, each user shall be required to provide, among other things, a valid email address. In providing your email address and agreeing to these Terms of Use, each authorized user consents to receiving email notifications from AlumniFunder concerning offerings.</p>
				<p>Unauthorized use of the Site and our Service, including, but not limited to the misuse or sharing of passwords or misuse of any other information, is strictly prohibited. You may not use the Site in any manner that could damage, disable, overburden, or impair the Site or Service or interfere with any other party's use and enjoyment of the Site or Service. You agree that you will not engage in any activities related to the Site that are contrary to applicable laws or regulations. You further agree that you are responsible for any unauthorized use of your password that is made before you have notified us and we have had a reasonable opportunity to act on that notice. AlumniFunder reserves the right at its discretion to suspend or cancel your password, even without receiving such notice from you, if we suspect that it is being used in an unauthorized or fraudulent manner.</p>
				<p>Notwithstanding the above, you are responsible for monitoring your account and should promptly report any unauthorized or suspicious activity in your account to us at info@AlumniFunder.com.</p>
				<h2>Use of Links</h2>
				<hr />
				<p>The Site may permit you to link to other websites or resources on the Internet, and other websites or resources may contain links to the Site. When you access third party websites, you do so at your own risk. These other websites are not under AlumniFunder's control, and you acknowledge that AlumniFunder is not responsible or liable for the content, functions, accuracy, legality, appropriateness or any other aspect of such websites or resources. The inclusion of any such link does not imply an affiliation, sponsorship, or endorsement by AlumniFunder or any association with its operators. You further acknowledge and agree that AlumniFunder shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any information, goods or services available on or through any such website or resource. You should also be aware that the terms and conditions and privacy policy of such sites may be different from those applicable to your use of the AlumniFunder Site and Service.</p>
				<h2>Third Party Content</h2>
				<hr />
				<p>Certain portions of the Site may contain third party content and may provide links to webpages and content of third parties (collectively "Third Party Content"). AlumniFunder does not control, endorse, investigate, or adopt any Third Party Content, and makes no representations or warranties of any kind regarding the Third Party Content, including with respect to its accuracy or completeness. You acknowledge and agree that AlumniFunder is not responsible or liable in any manner for any Third Party Content or your reliance upon Third Party Content. Users use such Third Party Content at their own risk.</p>
				<h2>Copyright Policy</h2>
				<hr />
				<p>If you believe that any material on the Site violates this Agreement or your intellectual property rights, please notify AlumniFunder as soon as possible by sending an email to info@AlumniFunder.com with the following information in accordance with Section 512(c) of the Copyright Act: (i) a physical or electronic signature of the copyright owner or a person authorized to act on their behalf; (ii) identification of the copyrighted work claimed to have been infringed; (iii) identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material; (iv) your contact information, including your address, telephone number, and an email address; (v) a statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and (vi) a statement that the information in the notification is accurate, and, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.</p>
				<p>We reserve the right to remove Content alleged to be infringing or otherwise illegal without prior notice and at our sole discretion. In appropriate circumstances, AlumniFunder will also terminate a User's account if the user is determined to be a repeat infringer.</p>
				<h2>Termination</h2>
				<hr />
				<p>AlumniFunder may terminate your access to all or any part of the Site and Service at any time, with or without cause, with or without notice, effective immediately, which may result in the forfeiture and destruction of all information associated with your membership. If you wish to terminate your account, you may do so by following the instructions on the Site. All provisions of this Agreement shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
				<h2>Warranty Disclaimer</h2>
				<hr />
				<p>AlumniFunder has no special relationship with or fiduciary duty to you. You acknowledge that AlumniFunder has no control over, and no duty to take any action regarding: which users gains access to the Site; what Content you access via the Site; what effects the Content may have on you; how you may interpret or use the Content; or what actions you may take as a result of having been exposed to the Content. You release AlumniFunder from all liability for you having acquired or not acquired Content through the Site. AlumniFunder makes no representations concerning any Content contained in or accessed through the Site, and AlumniFunder will not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the Site or the Service.</p>
				<p>AlumniFunder neither represents, warrants, covenants guarantees, nor promises any specific results from use of the Site.</p>
				<p>THE SITE, INCLUDING ANY CONTENT OR INFORMATION CONTAINED WITHIN IT OR ANY SERVICE OR ADVICE PROVIDED IN CONNECTION WITH THE SERVICE, IS PROVIDED "AS IS" WITH NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. YOU ASSUME TOTAL RESPONSIBILITY AND RISK FOR YOUR USE OF THIS SITE AND SITE-RELATED SERVICES.</p>
				<p>AlumniFunder makes no representation or warranty, express or implied, with respect to any third party data provided to AlumniFunder or its transmission, timeliness, accuracy or completeness, including but not limited to implied warranties or warranties of merchantability or fitness for a particular purpose. AlumniFunder will not be liable in any way to you or to any other person for any inaccuracy, error or delay in or omission of any third party data or the transmission or delivery of any such third party data and any loss or damage arising from (a) any such inaccuracy, error, delay or omission, (b) non-performance or (c) interruption in any such third party data due either to any negligent act or omission by AlumniFunder or "force majeure" or any other cause beyond the control of AlumniFunder.</p>
				<p>THE SERVICE IS PROVIDED "AS IS" AND "AS AVAILABLE" AND IS WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED. YOUR USE OF THE SERVICE IS SOLELY AT YOUR OWN RISK.</p>
				<p>Electronic Communication Privacy Act Notice (18usc 2701-2711): AlumniFunder makes no guaranty of confidentiality or privacy of any communication or information transmitted on the site or any website linked to the site. AlumniFunder will not be liable for the privacy of email addresses, registration and identification information, disk space, communications, confidential or trade-secret information, or any other Content stored on AlumniFunder's equipment, transmitted over networks accessed by the Site, or otherwise connected with your use of the Service.</p>
				<h2>Indemnification</h2>
				<hr />
				<p>You shall defend, indemnify, and hold harmless AlumniFunder, its affiliates and each of its, and its affiliates employees, contractors, directors, suppliers and representatives from all liabilities, claims, and expenses, including reasonable attorneys' fees, that arise from or relate to your use or misuse of, or access to, the Site, Service, Content or otherwise from your User Submissions, violation of the Agreement, or infringement by you, or any third party using the your account, of any intellectual property or other right of any person or entity. AlumniFunder reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will assist and cooperate with AlumniFunder in asserting any available defenses.</p>
				<h2>Limitation of Liability</h2>
				<hr />
				<p>IN NO EVENT SHALL AlumniFunder, NOR ITS DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, SUPPLIERS OR CONTENT PROVIDERS, BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER LEGAL OR EQUITABLE THEORY WITH RESPECT TO THE SERVICE (I) FOR ANY LOST PROFITS, DATA LOSS, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR SERVICES (HOWEVER ARISING), (II) FOR ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE (REGARDLESS OF THE SOURCE OF ORIGINATION), OR (III) FOR ANY DIRECT DAMAGES IN EXCESS OF (IN THE AGGREGATE) ONE-HUNDRED U.S. DOLLARS ($100.00). SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.</p>
				<h2>Governing Law; Arbitration</h2>
				<hr />
				<p>This Agreement (and any further rules, policies or guidelines incorporated by reference herein) shall be governed by and construed in accordance with the laws of the State of Delaware, without giving effect to any principles of conflicts of law. Unless otherwise agreed in writing by User and AlumniFunder, any dispute arising out of or relating to the Agreement, or the breach hereof, shall be finally resolved by arbitration administered by the American Arbitration Association ("AAA") under its Commercial Arbitration Rules. If parties are unable to select an arbitrator then AAA shall select the arbitrator. Judgment on any award entered by the arbitrator may be entered in any court having jurisdiction thereof. User agrees that it may bring claims against AlumniFunder only in an individual capacity and not as a plaintiff or class member in any purported class or representative proceeding.</p>
				<h2>Registration Data; Account Security</h2>
				<hr />
				<p>In consideration of your use of the Site, you agree to (a) provide accurate, current and complete information about you as may be prompted by any registration forms on the Site ("Registration Data"); (b) maintain the security of your password and identification; (c) maintain and promptly update the registration Data, and any other information that you provide to AlumniFunder, to keep it accurate, current and complete; and (d) accept all risks of unauthorized access to the Registration Data and any other information you provide to AlumniFunder.</p>
				<h2>Integration and Severability</h2>
				<hr />
				<p>This Agreement is the entire agreement between you and AlumniFunder with respect to the Service and use of the Site, and supersede all prior or contemporaneous communications and proposals (whether oral, written or electronic) between you and AlumniFunder with respect to the Site. If any provision of the Terms of Use is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that the Agreement will otherwise remain in full force and effect and enforceable. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder.</p>
				<p>Updated: July 2013</p>
			</div>
		</div>
	</div>
</div>